/datafile
/outputs
z_command.txt
__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode/
env/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.csv
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.weights
*.tar.gz
*.zip
*.egg-info/
build/
/venv_team3