#torch
#torchvision
#torchaudio

albumentations==2.0.8
annotated-types==0.7.0
contourpy==1.3.0
cycler==0.12.1
tqdm==4.66.2
PyYAML==6.0.1
Pillow==10.3.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
kiwisolver==1.4.5
jsonschema==4.21.1
jsonschema-specifications
importlib-metadata==7.1.0
importlib-resources==6.4.0
imageio==2.34.1
filelock==3.13.4
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
fsspec==2024.3.1
idna==3.7
mpmath==1.3.0
networkx==3.2.1
packaging==24.0
psutil==5.9.8
pyparsing==3.1.2
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
sympy==1.12.1
threadpoolctl==3.4.0
typing-extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
zipp==3.18.1
opencv-python==4.9.0.80
eval_type_backport